.banner {
  & > :global(.container) {
    padding-top: 56px;
    padding-bottom: 56px;

    @media all and (max-width: 768px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.bannerTop {
  margin-bottom: 48px;

  @media all and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.bannerTitle {
  margin-bottom: 16px;
}

.bannerSubtitle {
  margin-bottom: 32px;

  @media all and (max-width: 480px) {
    margin-bottom: 20px;
  }
}

.bannerButtons {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.bannerBottom {
  min-height: 432px;
  border-radius: var(--radius-lg);
  background-color: var(--color-light-grey);
  position: relative;
  background-image: url("@assets/images/bannerBg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media all and (max-width: 768px) {
    min-height: 300px;
  }
}

.bannerBottomWrap {
  position: relative;
}

.bannerInfoBlock {
  position: absolute;
  bottom: -16px;
  right: -16px;
  padding: 16px;
  width: 39.7%;
  border-radius: var(--radius-lg);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;

  @media all and (max-width: 1280px) {
    width: 45%;
  }

  @media all and (max-width: 768px) {
    position: static;
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }

  & .bannerInfoBlockInner {
    background-color: var(--color-light-grey);
    border-radius: var(--radius-md);
    padding: 37.5px 24px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    min-height: 158px;

    @media all and (max-width: 1280px) {
      padding: 20px;
      min-height: 120px;
    }

    @media all and (max-width: 480px) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  & .bannerInfoBlockNumber {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--color-text);

    @media all and (min-width: 480px) {
      width: 50%;
    }
  }

  & .bannerInfoBlockNumberTitle {
    font-size: 40px;
    font-weight: 700;

    @media all and (max-width: 1280px) {
      font-size: 24px;
    }
  }

  & .bannerInfoBlockNumberText {
    font-size: 18px;

    @media all and (max-width: 1280px) {
      font-size: 14px;
    }
  }
}

.bannerAnimatedCircle {
  width: 279px;
  height: 279px;
  position: absolute;
  top: 0;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (max-width: 768px) {
    width: 200px;
    height: 200px;
  }

  @media all and (max-width: 480px) {
    display: none;
  }

  .bannerAnimatedCircleCode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    z-index: 1;
    @media all and (max-width: 768px) {
      width: 40px;
    }
  }

  svg:not(.bannerAnimatedCircleCode) {
    animation: rotating 30s infinite linear;
  }
}

@keyframes rotating {
  100% {
    transform: rotate(-360deg);
  }
}