.footerButtonUp {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  transition: transform var(--transition);
  transform: translateY(100px);
  pointer-events: none;

  &.visible {
    pointer-events: all;
    transform: translateY(0);
  }
}