.footer {
  background-color: var(--color-footer);
  color: var(--color-border);

  & :global(.container) {
    padding-top: 80px;
    padding-bottom: 40px;
    background-image: url("@assets/images/footerBg.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center bottom;

    @media all and (max-width: 768px) {
      padding-top: 56px;
    }
  }
}

.footerTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 66px;
  gap: 40px;

  @media all and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (max-width: 640px) {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 30px;
  }
}

.footerTopLeft {
  max-width: 307px;

  @media all and (max-width: 640px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footerBot {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerBotCopyright {
  color: var(--color-grey);
  font-size: 12px;

  @media all and (max-width: 640px) {
    text-align: center;
  }
}