.title {

  &.bold {
    font-weight: 700;
  }

  &.sm {
    font-size: 16px;
  }

  &.md {
    font-size: 18px;
  }

  &.lg {
    font-size: 24px;

    @media all and (max-width: 768px) {
      font-size: 22px;
    }

    @media all and (max-width: 480px) {
      font-size: 18px;
    }
  }

  &.xl {
    font-size: 40px;

    @media all and (max-width: 768px) {
      font-size: 30px;
    }
  }

  &.xxl {
    font-size: 76.8px;
    line-height: normal;

    @media all and (max-width: 1280px) {
      font-size: 60px;
    }

    @media all and (max-width: 768px) {
      font-size: 40px;
    }

    @media all and (max-width: 480px) {
      font-size: 30px;
    }
  }
}