.postCard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.postCardTop {
  visibility: visible;
}

.postCardDate {
  font-size: 14px;
  color: var(--color-grey);
  margin-bottom: 16px;
  text-transform: capitalize;
}

.postCardDate, .postCardButton {
  margin-top: auto;
}