.map {
  position: relative;
  padding-top: 50%;

  .mapInner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.skeletonTitle {
  margin-bottom: 56px;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.contactsItem {
  background-color: var(--color-light-grey);
  padding: 24px;
  border-radius: var(--radius-md);
  min-height: 140px;

  &:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.contactsLabel, .contactsValue {
  font-size: 18px;
}

.contactsLabel {
  font-weight: 700;
  margin-bottom: 17px;
}

.contactsValue {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.socialList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 10px;

  a {
    text-decoration: underline;
    font-size: 16px;
  }
}
