.section {
  &.md {
    & > :global(.container) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .title {
      margin-bottom: 32px;
    }
  }

  &.lg {
    & > :global(.container) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .title {
      margin-bottom: 40px;
    }
  }

  &.xl {
    & > :global(.container) {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .title {
      margin-bottom: 56px;
    }
  }
}

.light {
  background-color: var(--color-white);
}

.dark {
  background-color: var(--color-light-grey);
}