.section {

  & > :global(.container) {
    padding-left: 0;
    padding-right: 0;
  }

  &.paddings > :global(.container) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.md {
    & > :global(.container) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .title {
      margin-bottom: 32px;
    }
  }

  &.lg {
    & > :global(.container) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .title {
      margin-bottom: 40px;
    }
  }

  &.xl {
    & > :global(.container) {
      padding-top: 120px;
      padding-bottom: 120px;

      @media all and (max-width: 1280px) {
        padding-top: 56px;
        padding-bottom: 56px;
      }
    }

    .title {
      margin-bottom: 56px;

      @media all and (max-width: 1280px) {
        margin-bottom: 30px;
      }
    }
  }
}

.light {
  background-color: var(--color-white);
}

.dark {
  background-color: var(--color-light-grey);
}