.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  padding-right: 50px;
}

.phones, .phonesIcon {
  display: flex;
  align-items: center;
}

.phones {
  .phonesIcon {
    width: 120px;
    height: 120px;
    border-radius: var(--radius-lg);
    background-color: var(--color-white);
    justify-content: center;
    color: var(--color-primary);

    svg {
      max-width: 59px;
    }
  }

  .skeletonPhonesIcon, .phonesIcon {
    margin-right: 32px;
  }

  .skeletonPhonesList, .phonesList {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    align-items: flex-start;
  }

  .phonesList {
    a {
      font-size: 40px;
      font-weight: 700;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
  margin-top: 48px;

  .linksRow {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 27px;
  }

  .linksRowLabel {
    margin-right: 5px;
  }

  a {
    text-decoration: underline;
  }
}

.right {
  visibility: visible;
}

.callbackForm {
  visibility: visible;
  max-width: 524px;
  width: 100%
}

.callbackFormInput {
  width: 100%;
  max-width: unset !important;
}

.callbackFormTitle {
  margin-bottom: 24px;
}

.formField {
  margin-bottom: 8px;
}

.callbackFormSubmit {
  margin-top: 18px;
}

.successDialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  .successIcon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 50px;
      height: 50px;
    }
  }
}
