.productDetails {
  display: flex;
  padding-top: 70px;

  @media all and (max-width: 480px) {
    padding-top: 0;
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}

.productDetailsLeft, .productDetailsRight {
  width: 50%;
}

.productDetailsLeft {
  padding-right: 50px;

  @media all and (max-width: 768px) {
    width: 40%;
  }

  @media all and (max-width: 480px) {
    width: 100%;
  }
}

.productDetailsRight {
  @media all and (max-width: 768px) {
    width: 60%;
  }

  @media all and (max-width: 480px) {
    width: 100%;
  }
}

.productDetailsDescription {
  margin-top: 24px;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-grey-muted);
}

.productDetailsRight {
  visibility: visible;
  display: flex;
  column-gap: 16px;
}

.productDetailsImage {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-lg);
  background-color: var(--color-grey-light);
  padding-top: 100%;
  line-height: 0;

  img, svg, .skeletonImage {
    position: absolute;
  }

  img, .skeletonImage {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.skeletonTitle {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.skeletonDescription {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.skeletonThumbs {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.slider {
  display: flex;
  align-items: stretch;
  width: 100%;

  @media all and (max-width: 768px) {
    flex-direction: column;
  }
}

.swiperMain {
  border-radius: var(--radius-lg);
  background-color: var(--color-light-grey);

  @media all and (max-width: 768px) {
    margin-bottom: 16px;
  }
}

.swiperSlide, .swiperThumb {
  cursor: pointer;
}

.prev, .next {
  @media all and (min-width: 769px) {
    display: none;
  }
}

.sliderThumbs {
  width: 92px;
  margin-left: 16px;
  max-height: 532px;

  @media all and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
  }

  .swiperThumbs {
    height: 100%;

    @media all and (max-width: 768px) {
      max-width: calc(100% - 68px);
    }

    .swiperThumb {
      border-radius: var(--radius-lg);
      overflow: hidden;
      background-color: var(--color-light-grey);

      &:global(.swiper-slide-thumb-active) {
        border: 3px solid var(--color-primary);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sliderMain {
  @media all and (min-width: 769px) {
    width: calc(100% - 92px - 16px);
  }

  .swiperSlide {
    height: 100%;
    position: relative;
    padding-top: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.fields {
  .fieldsGroup {
    visibility: visible;

    & > :global(.container) {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }

  .fieldsSkeletonTitle {
    margin-bottom: 40px;
  }

  .fieldsSkeletonList {
    row-gap: 30px;
  }

  .fieldsList, .fieldsSkeletonList {
    display: flex;
    flex-direction: column;
  }

  .fieldRow {
    font-size: 16px;
    padding: 8px;
    display: flex;
    background-color: var(--color-light-grey);

    @media all and (max-width: 640px) {
      font-size: 14px;
    }

    &:nth-child(even) {
      background-color: transparent;
    }
  }
  .fieldLabel {
    padding-right: 5px;
  }
  .fieldLabel, .fieldValue {
    width: 50%;
  }
}