.productCard {
  visibility: visible;
  width: 100%;
}

.productImage {
  visibility: visible;
  position: relative;
  padding-top: 111.1%;
  overflow: hidden;
  border-radius: var(--radius-md);
  background-color: var(--color-light-grey);
  margin-bottom: 24px;

  img, svg, div {
    position: absolute;
  }

  img, div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition);
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

.productName {
  visibility: visible;
  font-size: 16px;
  font-weight: 700;
}

.skeletonBottom {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}